#display-user {
  height: 406px;
  padding-top: 60px;
  width: 100%;
  background-color: #f5a299;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  display: flex;
  flex-direction: column;
  font-family: "Source Sans 3", sans-serif;
  justify-content: center;
  align-items: center;
}

.image {
  margin-top: -0.5em;
}

.name {
  margin: 0px;
  color: #ffffff;
  padding-bottom: 15px
}

.notbold {
  font-weight: normal;

}

@media only screen and (min-width:1024px) {

  #display-user {
    margin-right: 4em;
    margin-left: 2em;
    margin-top: 1em;
    height: 350px;
    width: 40%;
    background-color: #f5a299;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tweetbox-tweets {
    margin-top: 240px;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
  }
}