.tweet-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.tweet {
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  font-size: 0.85em;
}

.tweet header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.tweet img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  order: -1;
}

article.tweet h3.username {
  margin: 0;
  margin-right: auto;
}

.tweet span.handle {
  color: #888;
}

.tweet .content {
  width: 100%;
  margin: 10px 0;
  border-bottom: 4px solid #888;
  word-wrap: break-word;
  text-align: left;
}

.tweet footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #888;
}

.tweet.timestamp {
  font-size: 20px;
  font-family: "Source Sans 3", sans-serif;
}

.tweet .icons {
  display: flex;
  align-items: center;
}

.tweet .icons i {
  margin-right: 10px;
}

/* Hover State */
.tweet:hover {
  box-shadow: 0 5px 5px #f5a299;
}

.icons i:hover {
  color: #f5a299;
}

article.tweet {
  border: 4.5px solid #888;
  ;

}

.tweets-container {
  width: 95%;
  margin: 40px;
}